<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="proyecto_tpvEntities" connectionString="metadata=res://*/Modelo.ModelTPV.csdl|res://*/Modelo.ModelTPV.ssdl|res://*/Modelo.ModelTPV.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=mysql;database=proyecto_tpv&quot;"
      providerName="System.Data.EntityClient" />
    <add name="proyecto.tpv.agustin.Properties.Settings.proyecto_tpvConnectionString"
      connectionString="user id=root;password=mysql;server=localhost;database=proyecto_tpv"
      providerName="MySql.Data.MySqlClient" />
    <add name="proyecto.tpv.agustin.Properties.Settings.proyecto_tpvConnectionString1"
      connectionString="server=localhost;user id=root;password=mysql;database=proyecto_tpv"
      providerName="MySql.Data.MySqlClient" />
    <add name="proyecto.tpv.agustin.Properties.Settings.proyecto_tpvConnectionString2"
      connectionString="user id=root;server=localhost;database=proyecto_tpv"
      providerName="MySql.Data.MySqlClient" />
    <add name="proyecto.tpv.agustin.Properties.Settings.proyecto_tpvConnectionString3"
      connectionString="server=localhost;user id=root;database=proyecto_tpv"
      providerName="MySql.Data.MySqlClient" />
    <add name="proyectoTPV"
      connectionString="Server=localhost;Database=proyecto_tpv;Uid=root;Pwd=mysql"
      providerName="MySQL"/>

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>